@{
    ViewData["Title"] = "Error";
    ViewData["BG-Url"] = "/images/thematrix.jpg";
}

<section id="about" class="text-center">
    <div class="container content-section">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
        <p>Failboat</p>
    </div>
</section>
