@{
    ViewData["Title"] = "History";
    ViewData["Subtitle"] = "History";
    ViewData["BG-Url"] = "/images/WoWScrnShot-library.jpg";
}

<section id="about" class="download-section content-section">
    <div class="container">
        <h2>Our History 'n' Stuff</h2>
        <div class="article">
            <span class="date">August 2016</span>
            <h3>Legion Expansion is released</h3>
            <img src="~/images/history/hist-legion.png"/>
        </div>
        <div class="article">
            <span class="date">November 2014</span>
            <h3>Warlords of Draenor Expansion is released</h3>
            <img src="~/images/history/history-warlords.jpg" />
        </div>
        <div class="article">
            <span class="date">September 2012</span>
            <h3>Mists of Pandaria Expansion is released</h3>
            <img src="~/images/history/history-mop.jpg"/>
        </div>
        <div class="article">
            <span class="date">March 25, 2012</span>
            <h3>&lt;The Maelstrom> defeats Dragon Soul (T13)</h3>
            <img src="~/images/history/history-deathwing.jpg" />
        </div>
        <div class="article">
            <span class="date">Oct 24, 2011</span>
            <h3>&lt;The Maelstrom> is 6/7 in Firelands (T11)</h3>
            <img src="" />
        </div>
        <div class="article">
            <span class="date">September 7, 2011</span>
            <h3>&lt;The Maelstrom> defeats Blackwing Descent (T11)</h3>
            <img src="" />
        </div>
        <div class="article">
            <span class="date">June 1, 2011</span>
            <h3>&lt;The Maelstrom> defeats Throne of the Four Winds (T11)</h3>
            <img src="" />
        </div>
        <div class="article">
            <span class="date">May 11, 2011</span>
            <h3>&lt;The Maelstrom> is 4/5 in Bastion of Twilight (T11)</h3>
            <img src=""/>
        </div>
        <div class="article">
            <span class="date">December 2010</span>
            <h3>Cataclysm expansion is released.</h3>
            <img src="~/images/history/history-cata.jpg"/>
        </div>
        <div class="article">
            <span class="date">November 8, 2009</span>
            <h3>&lt;The Maelstrom> defeats Heroic Ulduar (T8)</h3>
            <img/>
        </div>
        <div class="article">
            <span class="date">October 2, 2009</span>
            <h3>&lt;The Maelstrom> defeats Onyxia's Lair (25M, T9)</h3>
            <img />
        </div>
        <div class="article">
            <span class="date">September 25, 2009</span>
            <h3>&lt;The Maelstrom> defeats Trial of the Crusader (T9)</h3>
            <img/>
        </div>
        <div class="article">
            <span class="date">September 25, 2009</span>
            <h3>Wrath of the Lich King expansion is released</h3>
            <img src="~/images/history/history-wrath.jpg"/>
        </div>
        <div class="article">
            <span class="date">September 25, 2009</span>
            <h3>The Burning Crusade expansion is released</h3>
            <img src="~/images/history/history-bc.jpg" />
        </div>
        <div class="article">
            <span class="date">May 11, 2006</span>
            <h3>Guild created</h3>
            <img src="~/images/history/history-created.jpg" />
        </div>
    </div>
</section>
