@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
body {
    font-family: 'Open Sans', Arial, sans-serif;
}

.setup-unused {
    color: #00bfff; /* Links */
    color: #1e90ff;  /* Link Hover */
    color: #000;  /* Background 1 */

}

a {
    color: #00bfff;
}

a:hover, .navbar-custom .nav li a:hover {
    color: #1e90ff;
}

.btn-default {
    border: 1px solid #00bfff;
    color: #00bfff;
    background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
    border: 1px solid #1e90ff;
    outline: 0;
    color: #000;
    background-color: #1e90ff;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.intro .intro-body .brand-heading {
    font-size: 80px;
}

.intro .intro-body img {
    width: 80%;
}

.download-section {
    background: #222;
}

.members .row {
    margin-bottom: 40px;
}

.member {
    text-align: left;
    padding: 20px;
    border-radius: 3px;
}

.member .class {
    position: absolute;
    background-color: #3a3a3c;
    width: 82%;
    text-align: left;
    opacity: .9;
}

    .member .class h4 {
        margin: 7px 10px;
        margin-left: 60px;
        text-transform: none;
        font-size: 22px;
    }

    .deathknight {
        color: #C41F3B;
    }
    .demonhunter {
        color: #A330C9;
    }
    .druid {
        color:#ff7D0A;
    }
    .hunter {
        color: #ABD473;
    }
    .mage {
        color:#69ccf0;
    }
    .monk {
        color:#00ff96;
    }
    .paladin {
        color: #f58cba;
    }
    .priest {
        color: #fff;
    }
    .rogue {
        color: #fff569;
    }
    .shaman {
        color: #0070DE;
    }
    .warlock {
        color:#9482c9;
    }
    .warrior {
        color:#c79c6e;
    }
.member .stats .fa {
    font-size: 18px;
}

.member p {
    font-size: 14px;
}

.member .stat-title {
    color: #00bfff;
}

.mem-pic {
    width: 100%;
}

.member .desc {
    width: 100%;
    background-color: #00bfff;
    color: #111;
    padding: 5px 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.mem-class {
    position: absolute;
    opacity: 0.7;
    width: 30%;
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

    .mem-class.deathknight {
        background-image: url('../images/icon-deathknight.png');
    }
    .mem-class.demonhunter {
        background-image: url('../images/icon-demonhunter.png');
    }
    .mem-class.druid {
        background-image: url('../images/icon-druid.png');
    }
    .mem-class.hunter {
        background-image: url('../images/icon-hunter.png');
    }
    .mem-class.mage {
        background-image: url('../images/icon-mage.png');
    }
    .mem-class.monk {
        background-image: url('../images/icon-monk.png');
    }
    .mem-class.paladin {
        background-image: url('../images/icon-paladin.png');
    }
    .mem-class.priest {
        background-image: url('../images/icon-priest.png');
    }
    .mem-class.rogue {
        background-image: url('../images/icon-rogue.png');
    }
    .mem-class.shaman {
        background-image: url('../images/icon-shaman.png');
    }
    .mem-class.warlock {
        background-image: url('../images/icon-warlock.png');
    }
    .mem-class.warrior {
        background-image: url('../images/icon-warrior.png');
    } 

.article {
    margin-bottom: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #00bfff;
}

.article img {
    width: 100%;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }


/* Map Stuff */

.land{ fill: #111; }
.border-states{
	stroke: #ccc;
	fill: none;
	stroke-linejoin: round;
	stroke-linecap: round;
}
.states{fill: #333;}
.bubble{fill:#00bfff; fill-opacity: .5;}
.hover{stroke:#666; fill-opacity: .8;}

.graph-label {
    position: absolute;
    padding: 0px 10px;
    background: rgb(255, 255, 255);
    opacity: 0.9;
    font-family: "Open Sans";
    z-index: 1000;
}

@media (min-width: 768px) {
    p {
        margin: 0;
    }
    .carousel-caption {
        z-index: 10 !important;
    }

    .content-section {
        padding-top: 250px;
        padding-bottom: 250px;
    }
}
